/**Estilo de la sección inicio*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {background-image: url(https://w0.peakpx.com/wallpaper/868/245/HD-wallpaper-dark-purple-dark-purple.jpg);
background-repeat: no-repeat;
background-size: cover;
}

/**Estilo de la sección inicial*/

.inicio{ background: linear-gradient(rgb 0,0,0,3), rgb(0,0,0,3);
  background-size: cover;
  background-position: center;
  color: #8910a1;  
}


.inicio .contenedor_seccion{
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.inicio .contenedor_seccion{
  padding: 30px;
}

/**Menú*/

.inicio .contenedor_seccion header nav{ 
  position: fixed;
  margin-left: 60px;
  background-color: rgb(150, 24, 150);
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  display: none;
}

.inicio .contenedor_seccion header nav a{
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
}

.inicio .contenedor_seccion header .barra_navegacion{
  position: fixed;
  background-color: #8910a1;
  color: #fff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  cursor: pointer;
  z-index: 99;
  transition: .3s;
}

/**Estilo de inofmración inicial*/

.inicio .contenedor_seccion .Información_inicio h1{
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);

}

.inicio .contenedor_seccion .Información_inicio h2{
  font-size: 30px;
  color: rgb(34, 31, 31);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  left: 50%;
  top: 160px;
  transform: translateX(-50%);
}
  

.inicio .contenedor_seccion .foto{
  position: relative;
  border: 2px solid black;
  margin: auto;
}

.inicio .contenedor_seccion .foto img{
  border-radius: 50%;
  border: 5px solid black;
  position: absolute;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
} 

/**Estilo Datos personales*/

.datos_personales .contenedor_seccion{
  border: 2px solid black;
  margin: 0px 200px 30px 200px;
  background-color: white;
}

.datos_personales h3{
  color: #8910a1;
  padding-left: 450px;
  margin-top: 80px;
  font-size: 30px;
  padding-bottom: 100px;
}

.datos_personales .contenedor_seccion header .barra_datos{
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 380px;
  justify-content: center;
}

.datos_personales .contenedor_seccion header .barra_datos a{
  display: inline-block;
  text-decoration: none;
  background-color: rgb(48, 42, 42);
  color: rgb(153, 7, 211);
  border: 1px solid rgb(153, 7, 211);
  border-radius: 50%;
  text-align: center;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin: 0 5px;
  transition: .3s;
  font-size: 30px;
}

.datos_personales .contenedor_seccion p{
  color: rgba(85, 75, 75, 0.685);
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

/** Estilo de Presentación*/

.Presentacion{
  border: 4px solid  #8910a1;
  margin: 0px 200px 30px 200px;
  background-color: rgba(232, 227, 233, 0.541);
}

.Presentacion h3{
  color: #8910a1;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  margin-top: 50px ;
  }
  
.Presentacion p{
  color: rgb(19, 15, 15) solid;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin: 50px 50px 100px 50px;
  
}

/**Estilo de las secciones1 Experiencia profesional*/

.secciones1{
  color: rgb(233, 221, 221);
  background-color: rgba(56, 5, 61, 0.897);
  margin: 0px 200px 50px 200px ;
  border: 4px solid black;
}

.secciones1 .contenedor_seccion{
  padding-left: 120px;
}


.secciones1 h3{
  padding-bottom: 50px;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  }

.secciones1 p{
  margin: auto;
  padding-bottom: 50px;
  padding-left: 70px;
  font-size: 20px;
  text-align: left;
}

.secciones1 ul{
  font-size: 20px;
  margin-top: 0px;
  text-align: left;
  margin: 0px 80px 0px 80px

}

.secciones1 .contenedor_seccion li{
  color: rgb(180, 165, 182);
  text-align: left;
  margin: 0px 70px 0px 70px
}

/**Estilo de las secciones2 - Formación*/

.secciones2 {
border: 4px solid #8910a1;
margin: 0px 200px 30px 200px;
background-color: rgba(232, 227, 233, 0.541);
}


.secciones2 .contenedor_formacion{
  display: flex;
}

.secciones2 h3{
  color: #8910a1;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  margin-top: 30px ;
  margin-bottom: 30px;
}


.secciones2 .contenedor_subapartado h1{
  color: #8910a1;
  font-size: 20px;
  padding-left: 90px;
}

.secciones2 .contenedor_subapartado p{
  color: black;
  font-size: 20px;
  padding-left: 100px;
  font-weight: bold;

}

.secciones2  .contenedor_subapartado ul{
  color: #8910a1;
  font-size: 15px;
  padding-left: 100px;
  padding-bottom: 50px;
}

.secciones2 .contenedor_subapartado2{
  padding-left:150px;
  padding-right: 50px;
}

.secciones2 .contenedor_subapartado2 h1{
  color: #8910a1;
  font-size: 20px;
  padding-left: 90px;
}

.secciones2 .contenedor_subapartado2 h2{
  color: black;
  font-size: 25px;
  padding-left: 100px;
  font-weight: bold;
}

.secciones2 .contenedor_subapartado2 p{
  color: black;
  font-size: 20px;
  padding-left: 100px;
  padding-bottom: 30px;
}

/**Estilo de las secciones3 - Habilidades*/

.secciones3 { 
  color: rgb(233, 221, 221);
  background-color: rgba(56, 5, 61, 0.897);
  margin: 0px 200px 50px 200px ;
  border: 4px solid black;
  text-align: center;
}

.secciones3 .contenedor_seccion{
  padding-left: 100px;
  padding-bottom: 50px;
}

.secciones3 h3{
  margin-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 30px;

}

.secciones3 .contenedor_seccion .fila{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.secciones3 .contenedor_seccion .fila .col{
  width: 47%;
  text-align: left;
}

.secciones3 .contenedor_seccion .fila .col .cont-barra{
   display: flex;
   align-items: center;

}

.secciones3 .contenedor_seccion .barra{
  display: flex;
  border: 1px solid white;
  padding: 2px;
  border-radius: 3px;
  margin-right: 10px;
}

.secciones3 .contenedor_seccion .barra .e{
  background-color: white;
  width: 20px;
  height: 30px;
  margin-right: 2px;
}

.secciones3 .contenedor_seccion .barra .n{
  background-color: black;
  width: 20px;
  height: 30px;
  margin-right: 2px;
}

/**Sección Responsive -para dispositivos de menos de 600px*/


@media only screen and (max-width:600px){
  body{
    background-image: none;
    width: 100%;
  }

  .inicio .contenedor_seccion{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .inicio .contenedor_seccion .imagen_inicio{
    width: 600px;
  }

  .inicio .contenedor_seccion .imagen_inicio{
    width: 100%
  }

  .inicio .contenedor_seccion .foto{
    margin:0%;
    height: auto;
  }

  .inicio .h2{
    margin-bottom: 30px;
    padding-bottom: 100px;
    font-size: 20px;
  }


  .datos_personales .contenedor_seccion{
    width: 100%;
    margin: 0px;
    text-align: center;
  }

  .datos_personales .contenedor_seccion h3{
    padding-left: 0%;
    margin-top: 100px;
  }

  
  .datos_personales .contenedor_seccion p{
    padding-left: 0%;
    margin-top: 50px;
  }

  .datos_personales .contenedor_seccion .barra_datos a{
    padding-left: 0%;
    margin: 0px;
    text-align: center;
    justify-content: center;
  }

  .Presentacion{
    width: 100%;
    margin: 0px;
    text-align: center;
  }

  .secciones1{
    width: 100%;
    margin: 0px;
  }

  .secciones1 .contenedor_seccion{
    padding-left: 5px;
    padding-right: 5px;
  }

  .secciones2{
    width: 100%;
    margin: 0px;
  }

  .secciones2 .contenedor_subapartado h1{
    padding-left: 0%;
  }

  .secciones2 .contenedor_subapartado p{
    padding-left: 0%;
  }

  .secciones2 .contenedor_subapartado ul{
    padding-left: 0%;
  }

  .secciones2 .contenedor_subapartado2{
    padding:0px;
  }

  .secciones2 .contenedor_subapartado2 h1{
    padding-left: 0%;
  }

  .secciones2 .contenedor_subapartado2 h2{
    padding-left: 0%;
  }

  .secciones2 .contenedor_subapartado2 p{
    padding-left: 20px;
    padding-right: 20px;
  }

  .secciones3{
    width: 100%;
    margin:0%
  }
  .secciones3 .contenedor_seccion .fila{
    display: block;
  }

  .secciones3 .contenedor_seccion .fila .col{
    width: 100%;
    text-align: center;
  }

  .secciones3 .contenedor_seccion .fila .col .cont-barra{
    justify-content: center;
  }

  .secciones2 .contenedor_formacion{
    display: block;
    text-align: center;
  }
}

/**Sección Responsive -para dispositivos de menos de 1200px*/

@media only screen and (max-width:1200px){
  body{
    background-image: none;
    width: 100%;
  }

  .inicio .contenedor_seccion{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  

  .inicio .contenedor_seccion .foto img{
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
  } 

  .inicio .contenedor_seccion .h2{
    margin: 0px;
    position: none;
  }

  .datos_personales .contenedor_seccion{
    width: 100%;
    margin: 0px;
    text-align: center;
  }

  .datos_personales .contenedor_seccion h3{
    padding-left: 0%;
    margin-top: 100px;
  }


  
  
  .datos_personales .contenedor_seccion p{
    padding-left: 0%;
    margin-top: 50px;
  }

  .datos_personales .contenedor_seccion .barra_datos a{
    padding-left: 0%;
    margin: 0px;

  }

  .Presentacion{
    width: 100%;
    margin: 0px;
    text-align: center;
  }

  .secciones1{
    width: 100%;
    margin: 0px;
  }

  .secciones1 .contenedor_seccion{
    padding-left: 5px;
    padding-right: 5px;
  }

  .secciones2{
    width: 100%;
    margin: 0px;
  }

  .secciones2 .contenedor_subapartado h1{
    padding-left: 0%;
  }

  .secciones2 .contenedor_subapartado p{
    padding-left: 0%;
  }

  .secciones2 .contenedor_subapartado ul{
    padding-left: 0%;
  }

  .secciones2 .contenedor_subapartado2{
    padding:0px;
  }

  .secciones2 .contenedor_subapartado2 h1{
    padding-left: 0%;
  }

  .secciones2 .contenedor_subapartado2 h2{
    padding-left: 0%;
  }

  .secciones2 .contenedor_subapartado2 p{
    padding-left: 20px;
    padding-right: 20px;
  }

  .secciones3{
    width: 100%;
    margin:0%
  }
  .secciones3 .contenedor_seccion .fila{
    display: block;
  }

  .secciones3 .contenedor_seccion .fila .col{
    width: 100%;
    text-align: center;
  }

  .secciones3 .contenedor_seccion .fila .col .cont-barra{
    justify-content: center;
  }
  .secciones2 .contenedor_formacion{
    display: block;
    text-align: center;
  }
}

/**Sección responsive -para dispositivos mayores a 992px hasta 1200px*/




  